.App{
}
.movieList{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin: 30px;
  flex-wrap: wrap;
}
.btn{
  padding: 10px;
  color: rgb(255, 255, 255);
  margin: 10px;
  background-color: #db7373;
  border: solid 1px ;
  cursor: pointer;
}